header {
    position: relative;
    color: white;
    text-align: center;
    z-index: -1;
}

h1 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px; font-weight: 300;
}

.txt {
    font-size: 35px;
    padding-top: 1%; padding-bottom: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-indent: 3%;
}

button {
    background-color: #BC0000;
    color: white;
    border-color: #FF0000;
    border-radius: 30px;
}

.our-values {
    display: flex;
    flex-direction: row;
}

.thrive-for-the-future {
    display: flex;
    flex-direction: row;
}

.t-f-t-f-txt {
    font-size: 25px;
}

.t-f-t-f-pic {
    justify-content: flex-end;
}

h3 {
    font-size: 40px;
}