 /*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aqua;
}

.container {
  position: relative;
  width: 100%;
  max-width: 900px;
  padding: 40px;
  display: flex;
  gap: 80px;
  border-radius: 10px;
  background-color: blueviolet;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1)
}

.left {
  width: 55%;
}

.heading {
  font-size: 35px;
  font-weight: 600;
  line-height: 1;
  color:brown
}

.text {
  font-size: 35px;
  color: orange;
  margin-top: 10px;
}

form {
  margin-top: 20px;
}

.inputBox {
  position: relative;
  margin-bottom: 20px;
}

.inputBox input, 
.inputBox textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  color:blue;
  border: none;
  outline: none;
  background-color: rgb(61, 226, 43);
}

.inputBox textarea {
  resize: none;
  height:150px;
}

.btn{
  width: 100%;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  color:yellow;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}
















/* * {
    box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #BC0000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FF4D4D;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
 /* note to self
when hovered over this will be the color #E7E7E7

 */