/* Styles the container */
footer {
    background-color: var(--background);
    
    height: 200px;
    margin: 0;

    border-top: 3px solid var(--main);
}

/* Styles the big list */
footer ul {
    list-style: none;
    margin: 0;
    padding: 20px 20px;
}

/* Styles sub-lists */
footer ul li ul {
    padding: 10px 0;
}

/* Floats all links to the left (similar to flex-start) */
footer li {
    float: left;
    width: 6%;
    text-align: center;
}

/* First links are bolded */
footer li a {
    font-weight: var(--bold);
}

/* Sub-links are lighter-weight */
footer li ul li a {
    font-weight: var(--normal);
}

footer ul li ul li {
    /* All sub-links aren't floated */
    float: none;

    text-align: center;
    width: 100%;
}

/* Styles links */
footer a {
    text-decoration: none;
    color: var(--text);

    white-space: nowrap;
}

footer a:hover,
footer a:focus {
    color: var(--text-highlight);
}