main {
    height: 100vh;
}

header section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 700px;
}

header section.nemesis {
    background-image: url(/images/header.jpg);
    background-size: cover;
    background-position: center;
}

header section a {
    padding: 10px;

    background-color: red;

    text-decoration: none;
    color: var(--text);
}