/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
}

body {
    margin: 0;
}

nav {
    background-color: black;
    border-bottom: 3px solid red;

    height: 100px;
}

img {
    width: 70px;
}

a {
    text-decoration: none;
    color: white;
    height: 100%;

    /* Brings links to center */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Selects hovered links but not the logo */
li:not(.logo) a:hover,
li a:focus {
    background-color: rgb(93, 93, 93);
    outline: none;
}

li.logo {
    width: 5%;
}

li {
    background-color: black;

    height: 100%;
    width: 5%;

    float: left;

    transition: all;
    transition-duration: 0.5s;
}

ul {
    /* Removes bullet points */
    list-style: none;

    margin: 0;
    padding-left: 1%;

    height: 100%;
}

/* Hides the sublist by default */
.sublist {
    display: none;
    transform: translateX(-3px);
}

.sublist li:not(:last-of-type) {
    border: 3px solid red;
    border-top: none;
    border-bottom: none;
}

.sublist li:last-of-type {
    border: 3px solid red;
    border-top: none;
}

/* Shows the sublist when hovered over */
ul li:hover > ul,
ul li ul:hover,
ul li:focus-within > ul {
    display: block;
}

ul li:hover:has(.sublist),
ul li:focus-within:has(.sublist) {
    width: 7.5%;
}

ul li ul li {
    clear: both;
    width: 100%;
}

ul li ul li a {
    padding-left: 10%;
    text-align: left;
    justify-content: flex-start;
}