/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Changing a variable changes all colors (try it its fun) */
:root {
    /* Color variables */
    --main: rgb(255, 0, 0);
    --main-border: rgb(133, 0, 0);
    --main-highlight: rgb(160, 0, 0);
    --background: rgb(0, 0, 0);
    --background-highlight: rgb(90, 90, 90);
    --text: rgb(255, 255, 255);
    --text-highlight: rgb(159, 159, 159);

    /* Font weights */
    --bold: 600;
    --normal: 400;

    font-family: 'Poppins', sans-serif;

    color: var(--text);
    background-color: var(--background);
}

body {
    margin: 0;
}

main {
    /* The navbar is 100px tall so we need to account for that taken space */
    margin-top: 100px;
}

nav {
    position: fixed;
    background-color: var(--background);
    border-bottom: 3px solid var(--main);

    height: 100px;
    width: 100%;

    /* The margin we put on the main affects the navbar, we need to move it to the top of the screen */
    transform: translateY(-100%);

    z-index: 20;
}

/* Sets width of images */
nav img {
    width: 70px;
}

/* Styles links */
nav a {
    text-decoration: none;
    font-weight: var(--normal);
    color: var(--text);

    height: 100%;

    /* Brings links to center */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Selects hovered links but not the logo */
nav li:not(:has(img)) a:hover,
nav li a:focus {
    background-color: var(--background-highlight);
    outline: none;
}

nav li {
    background-color: var(--background);

    height: 100%;
    width: 100px;

    /* Float left is similar flex start */
    float: left;

    /* This transition is for the items with a sublist */
    transition: all;
    transition-duration: 0.5s;
}

nav ul {
    /* Removes bullet points */
    list-style: none;

    margin: 0;
    padding-left: 1%;

    height: 100%;
}

/* Hides the sublist by default */
nav .sublist {
    display: none;
    transform: translateX(-3px);
}

/* Styles list items in sublists */
nav .sublist li:not(:last-of-type) {
    border: 3px solid var(--main);
    border-top: none;
    border-bottom: none;
}

/* Gives the bottom of a sublist a bottom */
nav .sublist li:last-of-type {
    border: 3px solid var(--main);
    border-top: none;
}

/* Shows the sublist when hovered over */
nav ul li:hover > ul,
nav ul li ul:hover,
nav ul li:focus-within > ul {
    display: block;
}

/* Increases the width of a list item with sublists when hovered over*/
nav ul li:hover:has(.sublist),
nav ul li:focus-within:has(.sublist) {
    width: 175px;
}

/* List items in sublists */
nav ul li ul li {
    clear: both;
    width: 100%;
}

/* Position links in sublists */
nav ul li ul li a {
    padding-left: 10%;
    text-align: left;
    justify-content: flex-start;
}

/* Position right links to the right */
nav ul.right li {
    float: right;

    display: flex;
    align-items: center;
}

/* We need to move the container on top of the nav so it doesn't get in the way of normal inputs */
nav ul.right {
    transform: translateY(-100%);
    width: 50%;
    float: right;
}

/* The cart is a little smaller than the other icons */
nav img.cart {
    width: 55px;
}

nav ul.right img {
    padding: 0 5%;
}

/* The customize button */
nav .customize {
    padding: 0 50%;
    height: 65%;

    background-color: var(--main);
    border-radius: 10px 20px 10px 20px;
    border: 3px solid var(--main-border);

    transform: translateX(-60%);
}

/* the customize button when hovered over */
nav .customize:hover,
nav .customize:focus {
    background-color: var(--main-highlight);
}

/* This is the hamburger menu icon, it should be hidden by default */
nav .small-nav {
    display: none;
}

/* This is the expanded hamburger menu */
nav .links {
    position: fixed;

    width: 100%;
    height: calc(100vh - 100px);

    display: none;
    flex-direction: column;
    justify-content: flex-start;

    background-color: rgba(62, 62, 62, 0.7);
    backdrop-filter: blur(2px);

    transform: translateY(50.15vh);
    transition: transformX 0.3s ease-out;
}

/* These are the links in the expanded hamburger menu */
nav .links a {
    text-align: start;
    font-weight: var(--bold);
    font-size: 2em;
    text-align: left;

    padding: 0 20px;
    margin: 10px 0;

    display: flex;
    justify-content: space-between;
}

/* The last link needs padding on the bottom to look right */
nav .links a:last-of-type {
    margin-bottom: 50%;
}

/* Link hovers */
nav .links a:hover,
nav .links a:focus {
    background-color: var(--background-highlight);
}

/* If the screen becomes wide while the menu is showing, this will hide the menu */
@media screen and (min-width: 1024px) {
    nav .links {
        transform: translateX(100vw);
    }
}

@media screen and (max-width: 1024px) {
    /* The navbar uses flex instead of floats when small*/
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* Removes the large navbar */
    nav .large-nav {
        display: none;
    }

    /* Displays the hamburger menu */
    nav .small-nav {
        display: block;
    }

    /* The hamburger and logo need to be spaced differently at this size */
    nav a {
        padding: 15px 20px 0;
        height: 100%;
    }

    /* The logo needs different padding at this size */
    nav a.icon {
        padding-top: 10px;
        height: calc(100% - 45px);
    }
}