nav {
    background-color: var(--background);
    border-bottom: 3px solid var(--main);

    height: 100px;
}

/* Sets width of images */
nav img {
    width: 70px;
}

/* Styles links */
nav a {
    text-decoration: none;
    font-weight: var(--normal);
    color: var(--text);

    height: 100%;

    /* Brings links to center */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Selects hovered links but not the logo */
nav li:not(:has(img)) a:hover,
nav li a:focus {
    background-color: var(--background-highlight);
    outline: none;
}

nav li {
    background-color: var(--background);

    height: 100%;
    width: 5%;

    /* Float left is similar flex start */
    float: left;

    /* This transition is for the items with a sublist */
    transition: all;
    transition-duration: 0.5s;
}

nav ul {
    /* Removes bullet points */
    list-style: none;

    margin: 0;
    padding-left: 1%;

    height: 100%;
}

/* Hides the sublist by default */
nav .sublist {
    display: none;
    transform: translateX(-3px);
}

/* Styles list items in sublists */
nav .sublist li:not(:last-of-type) {
    border: 3px solid var(--main);
    border-top: none;
    border-bottom: none;
}

/* Gives the bottom of a sublist a bottom */
nav .sublist li:last-of-type {
    border: 3px solid var(--main);
    border-top: none;
}

/* Shows the sublist when hovered over */
nav ul li:hover > ul,
nav ul li ul:hover,
nav ul li:focus-within > ul {
    display: block;
}

/* Increases the width of a list item with sublists when hovered over*/
nav ul li:hover:has(.sublist),
nav ul li:focus-within:has(.sublist) {
    width: 7.5%;
}

/* List items in sublists */
nav ul li ul li {
    clear: both;
    width: 100%;
}

/* Position links in sublists */
nav ul li ul li a {
    padding-left: 10%;
    text-align: left;
    justify-content: flex-start;
}

/* Position right links to the right */
nav ul.right li {
    float: right;
    transform: translateY(-100%);

    display: flex;
    align-items: center;
}

/* The cart is a little smaller than the other icons */
nav img.cart {
    width: 55px;
}

nav ul.right img {
    padding: 0 5%;
}

/* The customize button */
nav .customize {
    padding: 0 50%;
    height: 65%;

    background-color: var(--main);
    border-radius: 10px 20px 10px 20px;
    border: 3px solid var(--main-border);

    transform: translateX(-60%);
}

nav .customize:hover,
nav .customize:focus {
    background-color: var(--main-highlight);
}